*{margin: 0px; padding: 0px;

}
.parent{
    width: 1920px;
    height:850px;
    background-color: pink;
    position:
    top:0px; right: 0px;}
.nav-container{
    display: flex;
    justify-content:space-around;
    align-items:normal;
    padding: 10px;}

.head-line{
    font: size 40px;
}

.menus{
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 45px;
    font-style: italic;

    }
