*{
  margin: 0px;
  padding: 0px;
}

.header-container{
    height: 1000px;
    background-color: pink;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.header-text h1{ 
    color: #FFF;
    font-family: Lato;
    font-size: 100px;
    font-style: normal;
    font-weight: 800px;
    line-height: normal;
}
.Lorem{
    font-size:xx-large;}
.buy{
        display: inline-flex;
        padding: 20px 43px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 8px;
        background: #E55473;}
.header-text{
        margin-left: 200px;
        margin-right: 200px;}
.featured h2{
        text-align: center;
        color: #272727;
        text-align: center;
        font-family: Lato;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;}
.featured p{ 
        color: rgba(39, 39, 39, 0.60);
        text-align: center;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;}
.featured{
        margin: 200px 20px;}
.flowers{
  padding: 10px 10px;
  gap: 15px;
}

.apic h5{
  padding: 10px;
  text-align: center;
  text-decoration-line: underline;
  font-size: 24px;
}

.flowers-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 0px;
        margin-left: auto;
        background: #FFF;
        padding: 10px;
}
.left{
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 400px;
  height: 438px;
}
.middle{
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 400px;
  height: 438px;
}
.right{
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 400px;
  height: 438px;
}

.apic {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 400px;
  height: 438px;
  padding: 10px;
  gap: 15px; 
}

.container-3 {
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;

  
}
.container-info{    
  padding-top: 100px;
  text-align: center;
  align-items: center ;
  text-align: center;
  color: #272727;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

}

.btn{
  padding: 10px 10px;
  background-color: #E55473;
  color: white;
  border-radius: 5px;
  border: none;
  align-items: center ;
}


p{
  font-size: 12px;
  color: #27272799;
  padding-top: 17px;
  padding-bottom: 21px;
}

.img3{
  width: 258px;
  height: 320px;
  padding-top: 35px;
  padding-right: 50px;
}

.footer-section{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 0px;
  background: #111010;
  height: auto;
  width: 100%;

}
.footer-head h3{
  font-size: 45px;
  font-weight: 780;
  padding-top: 25px;
  color:#FFFFFF;
}
.footer-head {
  color:#E55473 ;
}

.infos p{
  max-width: 400px;
  margin: 10px auto;
  line-height: 26px;
  font-size: 13px;
  color: #FFF;
  text-align: center;

}

.footer-section .infos {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.40);
  text-align: center;
}
.footer-title{
  color: white;
  
}


.main-heading {
  text-align: center;
  align-items: center;
  padding-top: 80px; 
  font-size: 20px;
  font-weight: 650px;
  border: #E55473;}

.main-img {
    text-align: center;
    padding-top: 100px; 
    font-size: 20px;
    font-weight: 700px;
    align-items: center;
    border: #E55473;
}
.main-text {
  font-size: 12px;
  color: #272727;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 0px;
}
.imagesf {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.img4{
  padding: 10px 10px;
  gap: 15px;
}
.rectangle2 {
  background-image: url("../images/Rectangle\ 9.png");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 80%;
  text-align: center;
  margin: auto;

}

.rtitle{
  padding-top: 200px;
  color: #272727;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;}
 .email{
  background: #FFF;
  width: 400px;
  height: 44px;
  border: none
    }




