.header-container{
    height: 1000px;
    background-color: pink;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.header-text h1{ 
    color: #FFF;
    font-family: Lato;
    font-size: 100px;
    font-style: normal;
    font-weight: 800px;
    line-height: normal;
}
.Lorem{
    font-size:xx-large;}
.buy{
        display: inline-flex;
        padding: 20px 43px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 8px;
        background: #E55473;}
.header-text{
        margin-left: 200px;
        margin-right: 200px;}
.featured h2{
        text-align: center;
        color: #272727;
        text-align: center;
        font-family: Lato;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;}
.featured p{ 
        color: rgba(39, 39, 39, 0.60);
        text-align: center;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;}
.featured{
        margin: 200px 20px;}
.apic {
        width: 310px;
        height: 428px;
        flex-shrink: 0;   
        background: url(<path-to-image>), lightgray 50% / cover no-repeat; 
        width: 464px;
        height: 538px;
        flex-shrink: 0;
        border-radius: 300px 300px 0px 0px;
        background: rgba(167, 33, 98, 0.15);}
.bpic {
    width: 370px;
    height: 370px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 464px;
    height: 538px; 
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);}
.cpic {
    width: 314px;
    height: 471px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);}
.apic .bpic .cpic {
    text align: center;
    display:flex;
    justify-content:space-around
    margin: 0 0 0 50px
}
.delivery {
    margin: 198px 128px 225px 183px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 55px 20px 57px 96px;
  }
  .delivery p {
    color: rgba(39, 39, 39, 0.8);
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 35px;
  }
  
 
  .hot-sale {
    background: rgba(229, 84, 115, 0.05);
    padding-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .sale-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .sale-title span {
    color: #e55473;
  }

  
  .instagram {
    display: flex;
    text-align: center;
    gap: 10px;
    padding-left: 140px;
    padding-right: 140px;
    margin-bottom: 128px;
  }
  
 
  
  .subscribe {
    background-image: url(/img/Rectangle\ 9.png);
    margin-left: 140px;
    margin-right: 140px;
  }
  .subscribe {
    text-align: center;
    padding-top: 54px;
    padding-bottom: 20px;
  }
  .pragraph {
    margin-bottom: 30px;
  }
  .p {
    padding-bottom: 80px;
  }
  .sub-section,
  input[type="email"] {
    width: 493px;
    height: 39px;
    display: flex;
    border: none;
    align-items: center;
    padding-left: 22px;
    border-radius: 8px;
    margin: auto;
  }
  .btn-sub {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    background: #e55473;
    border: none;
    padding: 10px;
    margin-left: 10px;
  }
  
  footer {
    text-align: center;
    background-color: #111010;
    color: #ffff;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  footer h1 {
    color: #ffff;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    padding-bottom: 20px;
  }
  footer span {
    color: #e55473;
  }
  footer p {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
  }
  .copy {
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
  }